@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
  font-size: 100%;
  line-height: 1.5rem;
  background: #420d09; }

img {
  max-width: 100%;
  display: block; }

@font-face {
  font-family: "infected";
  src: url("../assets/fonts/INFECTED.ttf") format("truetype"); }
.navigation {
  background: #af111c; }
  .navigation .brand-logo {
    font-family: infected; }
    .navigation .brand-logo:hover {
      color: gold; }
  .navigation .active {
    color: gold; }

@font-face {
  font-family: "Bloody";
  src: url("../assets/fonts/BLOODY.TTF") format("truetype"); }
@font-face {
  font-family: "True Crimes";
  src: url("../assets/fonts/crimes.ttf") format("truetype"); }
.snapshot {
  background-color: #8a0303;
  background-image: url("../assets/images/blood.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .snapshot .mantra {
    color: #fff;
    font-weight: normal;
    font-family: Bloody; }
    @media (max-width: 960px) {
      .snapshot .mantra {
        font-size: 2.5rem; } }
    @media (max-width: 600px) {
      .snapshot .mantra {
        font-size: 2rem;
        text-align: center; } }
  .snapshot .cursorColor {
    color: gold; }

.overview p {
  font-size: 1.5rem;
  font-family: "True Crimes";
  font-weight: 700;
  color: #fff; }

.corologo {
  color: #fff; }

.total-cases {
  color: #000;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto Condensed", sans-serif; }
  .total-cases .case-count {
    font-size: 5rem;
    color: #8a0303; }

.basic-stats {
  padding: 5px;
  color: #000;
  font-family: "Roboto Condensed", sans-serif; }
  @media (max-width: 768px) {
    .basic-stats {
      text-align: center; } }
  .basic-stats p {
    font-size: 1.2rem; }

.stats-explain {
  color: #000;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .stats-explain {
      text-align: center; } }

@media (max-width: 768px) {
  .star-github {
    text-align: center; } }
.star-github h5 {
  font-size: 1rem; }

@font-face {
  font-family: "Bebas";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype"); }
.content-layout {
  height: 100vh; }
  .content-layout h3 {
    text-align: center;
    font-family: "Bebas";
    font-size: 2rem;
    padding: 1rem 0.625rem;
    color: #fff; }

.tabs {
  background: transparent; }
  .tabs li {
    font-weight: bolder; }

.resources {
  padding: 3rem 0.625rem; }
  .resources .resource-link {
    padding: 1rem 1rem;
    color: #ddd;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 0.625rem 0; }
    .resources .resource-link a {
      color: #fff; }
      .resources .resource-link a:hover {
        color: gold; }

.live-updates {
  margin: 3rem 0; }
  .live-updates .video-header {
    color: #fff;
    margin: 1rem 0;
    font-weight: 500;
    opacity: 0.8; }
  .live-updates .video-container {
    border-radius: 10px; }

@media (max-width: 768px) {
  .emergency-contacts {
    text-align: center; } }

@media (max-width: 321px) {
  .github {
    visibility: hidden; } }

/*# sourceMappingURL=App.css.map */
