@font-face {
  font-family: "Bebas";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

.content-layout {
  height: 100vh;

  h3 {
    text-align: center;
    font-family: "Bebas";
    font-size: 2rem;
    padding: 1rem 0.625rem;
    color: $primary;
  }
}
