body {
  background: {
    color: $very-dark-red;
    image: url("../assets/images/blood.jpg");
    repeat: no-repeat;
    size: cover;
  }

  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}
