.live-updates {
  margin: 3rem 0;
  .video-header {
    color: $primary;
    margin: 1rem 0;
    font-weight: 500;
    opacity: 0.8;
  }

  .video-container {
    border-radius: 10px;
  }

  .articles {
    margin: 1rem 0;
  }
}
