$tablet: 768px;
$mobile: 600px;
$phone: 321px;
$medium: 960px;

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin medium {
  @media (max-width: $medium) {
    @content;
  }
}
