@font-face {
  font-family: "Bebas";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

.navigation {
  background: $nav-color;

  .brand-logo {
    letter-spacing: 1.5px;
    font: {
      family: Bebas;
    }
    &:hover {
      color: gold;
    }
  }

  .active {
    color: gold;
  }
}
