.resources {
  padding: 3rem 0.625rem;
  .resource-link {
    padding: 1rem 1rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 0.625rem 0;

    a {
      color: $primary;

      &:hover {
        color: gold;
      }
    }
  }
}
