@font-face {
  font-family: "Bloody";
  src: url("../assets/fonts/BLOODY.TTF") format("truetype");
}

@font-face {
  font-family: "True Crimes";
  src: url("../assets/fonts/crimes.ttf") format("truetype");
}

.snapshot {
  background: {
    color: $very-dark-red;
    image: url("../assets/images/blood.jpg");
    repeat: no-repeat;
    size: cover;
  }
  .mantra {
    color: $primary;
    @include medium {
      font-size: 2.5rem;
    }

    @include mobile {
      font-size: 2rem;
      text-align: center;
    }
    font: {
      weight: normal;
      family: Bloody;
    }
  }

  .cursorColor {
    color: gold;
  }
}

.overview {
  p {
    font: {
      size: 1.5rem;
      family: "True Crimes";
      weight: 700;
    }
    color: $primary;
  }
}

.corologo {
  color: #fff;
}
