@font-face {
  font-family: "Bebas";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

.snapshot {
  background: {
    color: $very-dark-red;
    image: url("../assets/images/blood.jpg");
    repeat: no-repeat;
    size: cover;
  }
  .mantra {
    color: $primary;
    @include medium {
      font-size: 3rem;
    }

    @include mobile {
      font-size: 2rem;
      text-align: center;
    }
    font: {
      weight: normal;
      family: Bebas;
    }
  }

  .cursorColor {
    color: gold;
  }
}

.overview {
  margin-bottom: 4rem;
  div {
    font: {
      size: 1.3rem;
      weight: 700;
    }
    padding: 10px;
    color: $primary;
  }
}

.corologo {
  color: #fff;
}
